<style>
    /* Custom CSS */
.product-wrapper {
    padding: 20px; /* Adjust the padding value as needed */
}

</style>

<%- include('../partials/header') %>
    <div class="slider-area">
        <div class="slider-active owl-carousel">
            <div class="single-slider-4 slider-height-6 bg-img"
                style="background-image: url(shop/assets/img/slider/9.jpg)">
                <div class="container">
                    <div class="row">
                        <div class="ms-auto col-lg-6">
                            <div class="furniture-content fadeinup-animated">
                                <h2 class="animated">Comfort <br>Collection.</h2>
                                <p class="animated">Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry.</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <!-- premium area start -->
    <div class="premium-banner-area mt-5">
        <div class="container">
            <div class="discount-wrapper">
                <img src="shop/assets/img/banner/29.jpg" alt="">
                <div class="discount-content">
                    <h2>Premium Home <br>Decorator</h2>
                    <a href="#">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- premium area end -->

    <div class="product-wrapper mb-30 p-3"> <!-- Added 'p-3' for padding -->
        <!-- Existing product content -->

    <div class="shop-product-content tab-content  mt-5" style="display: flex;">
        <div id="grid-sidebar1" class="tab-pane fade active show">
            <div class="row">
                <%- include('../partials/flash_msg') %>
                <% products.forEach(product=> { %>
                    <div class="col-lg-6 col-md-6 col-xl-3">
                        <div class="product-wrapper mb-30">
                            <div class="product-img">
                                <a href="/product/<%= product._id %>">

                                    <img src="<%= product?.images[0]?.thumbnailUrl %>"
                                        alt="<%= product.title %>" width="200px"
                                        height="310px" />
                                </a>


                                <div class="product-action">

                                    <a  
                                          id="wishlistButton"
                                          class="animate-left"
                                          title="Wishlist"
                                          onclick="toggleWishlist('<%= product._id %>')">
                                          <i class="pe-7s-like"></i>
                                     </a>

                                    <% if (product.quantity) { %>
                                        <a class="animate-top" title="Add To Cart"  onclick="addToCart(`<%= product._id %>`)" >
                                            <i class="pe-7s-cart"></i>
                                        </a>
                                        <% } %>
                                </div>
                            </div>
                            <div class="product-content">
                                <div class="d-flex justify-content-between">
                                    <medium class="card-title font-weight-bold"
                                        style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap">
                                        <%= product.title %>
                                            <h6 class="small">
                                                <!-- Category:<%=product?.Category?.title %> -->
                                                <%= product.description %>
                                            </h6>
                                    </medium>
                                    <div>
                                        <% if (product.quantity==0) { %>
                                            <p class="text-danger">Out of Stock </p>
                                            <% } %>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-between">
                                    <div class="">
                                        <% const savedPercentage = Math.round(((product.productPrice - product.salePrice) / product.productPrice) * 100); %>
                                        <% if (savedPercentage > 0) { %>
                                            <span style="color: green; margin-left: 5px;">
                                                (Save <%= savedPercentage %> %)
                                            </span>
                                        <% } %>
                                        <span class="text-decoration-line-through text-secondary">₹ <%= product.productPrice %></span>
                                    </div>
                                    <span class="card-text h4">₹ <%= product.salePrice %></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
            </div>
        </div>
    </div>
</div>

    <div class="view-all-product text-center">
        <a href="/shops">View All Product</a>
    </div>
    <!-- product area end -->

    <!-- testimonials area start -->
    <div class="testimonials-area pt-120 pb-115">
        <div class="container">
            <div class="testimonials-active owl-carousel">
                <div class="single-testimonial-2 text-center">
                    <img src="shop/assets/img/team/1.png" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation.</p>
                    <img src="shop/assets/img/team/2.png" alt="">
                    <h4>tayeb rayed</h4>
                    <span>uiux Designer</span>
                </div>
            </div>
        </div>
    </div>
    <!-- testimonials area end -->

    <!-- services area start -->
    <div class="services-area wrapper-padding-4 gray-bg pt-120 pb-80">
        <div class="container-fluid">
            <div class="services-wrapper">
                <div class="single-services mb-40">
                    <div class="services-img">
                        <img src="shop/assets/img/icon-img/26.png" alt="">
                    </div>
                    <div class="services-content">
                        <h4>Free Shippig</h4>
                        <p>Contrary to popular belief, Lorem Ipsum is random text. </p>
                    </div>
                </div>
                <div class="single-services mb-40">
                    <div class="services-img">
                        <img src="shop/assets/img/icon-img/27.png" alt="">
                    </div>
                    <div class="services-content">
                        <h4>24/7 Support</h4>
                        <p>Contrary to popular belief, Lorem Ipsum is random text. </p>
                    </div>
                </div>
                <div class="single-services mb-40">
                    <div class="services-img">
                        <img src="shop/assets/img/icon-img/28.png" alt="">
                    </div>
                    <div class="services-content">
                        <h4>Secure Payments</h4>
                        <p>Contrary to popular belief, Lorem Ipsum is random text. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- services area end -->
    <%- include('../partials/footer') %>


    <script>
        function addToCart(id) {
            const productId = id;
            const url = `/cart/add/${productId}`;
            const cartCount = document.getElementById("cartCount");
            const cartMessage = document.getElementById("cart-message");

            fetch(url, {
                method: "GET",
            })
                .then((response) => {
                    if (response.ok) {
                        // return response.json(); // Assuming server sends JSON
                        window.location.reload();
                    } else {
                        console.error("Failed");
                    }
                })
                .then((data) => {
                    if (data) {
                        console.log(data["message"]);

                        // Check if 'count' and 'message' properties exist in data
                        if (data.count && data.message) {
                            cartCount.innerText = data.count;
                            cartMessage.innerText = data.message;

                            cartMessage.className = `position-fixed bg-${data.status} text-white p-2 rounded`;
                            cartMessage.style.display = "block";
                            setTimeout(function () {
                                cartMessage.style.display = "none";
                            }, 1000);



                        } else {
                            console.error("Unexpected data format");
                        }
                    }
                })
                .catch((error) => {
                    console.error("An error occurred:", error);
                });
        }

    </script>

<script>
    function toggleWishlist(id) {
    const productId = id;
    const url = `/wishlist/toggle/${productId}`;
    const wishlistButton = document.getElementById(productId);
    const cartMessage = document.getElementById("wishlist-message");
  
    fetch(url, {
        method: "GET",
    })
        .then((response) => {
            if (response.ok) {
                return response.json(); 
            } else {
                console.error("Failed");
            }
        })
        .then((data) => {
            if (data) {
              if (data.isInWishlist) {
                wishlistButton.classList.add("text-danger")
              } else {
                wishlistButton.classList.remove("text-danger")
              }
                const iconClass = data.isInWishlist ? "text-danger" : "";
                cartMessage.innerHTML = data.message;
                cartMessage.className = `position-fixed bg-${data.status} text-white p-2 rounded`;
                cartMessage.style.display = "block";
                setTimeout(function () {
                    cartMessage.style.display = "none";
                }, 3000);
            } else {
                console.error("Unexpected data format");
            }
        })
        .catch((error) => {
            console.error("An error occurred:", error);
        });
  }
  </script>
