<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <h5 class="mb-0">Order Confirmed!</h5>
                </div>
                <div class="card-body">
                    <!-- Order Details -->
                    <h6 class="card-title">Order Details</h6>
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Order ID:</strong> <%= order.orderId %></li>
                        <li class="list-group-item"><strong>Total Amount:</strong> <%= order.totalPrice %></li>
                        <li class="list-group-item"><strong>Ordered Date:</strong> <%= new Date(order.orderedDate).toUTCString() %></li>
                        <li class="list-group-item"><strong>Delivery Address:</strong> <%= order.street %>, <%= order.city %>, <%= order.state %> </li>
                        <!-- Product Details -->
                        <li class="list-group-item">
                            <strong>Product Details:</strong>
                            <% order.orderItems.forEach(product => { %>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        Product Name: <%= product.product.title %>
                                        <span class="badge badge-primary">Quantity: <%= product.quantity %></span>
                                    </li>
                                </ul>
                                <% }) %>
                        </li>
                        
                    </ul>

                    <!-- Action Buttons -->
                    <div class="text-center mt-4">
                        <a href="/shops" class="btn btn-dark mr-3">Continue Shopping</a>
                        <a href="/orders" class="btn btn-dark">View Orders</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>