<%- include('../partials/header') %>

<style>
    .image {
        width: 50px;
        height: 50px;
    }
    .table-box {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
    }
</style>

<div class="container mt-5">
    <h1>Orders</h1>
    <div class="row mt-4">
        <div class="col-md-12">
            <% if (orders && orders.length) { %>
                <div class="table-box">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Order ID</th>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% orders.forEach(order => { %>
                                <% order.orderItems.forEach((orderItem, index) => { %>
                                
                                    <tr>
                                        <% if (index === 0) { %>
                                            <td rowspan="<%= order.orderItems.length %>"> <%= orderItem._id %></td>
                                        <% } %>
                                        <td>
                                            <img src="<%= orderItem.product.images[0].thumbnailUrl %>" class="image" alt="Product Image">
                                            <div>
                                                <h6><%= orderItem.product.title %></h6>
                                            </div>
                                        </td>
                                        <td><%= orderItem.product.salePrice %></td>
                                        <td><%= orderItem.quantity %></td>
                                        <td><%= orderItem.status %></td>
                                        <td>
                                            <a href="/orders/<%= orderItem._id %>" class="btn btn-info btn-sm">View Details</a>
                                        </td>
                                    </tr>
                                <% }) %>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            <% } else { %>
                <p>No Orders</p>
            <% } %>
        </div>
    </div>
     <a href="/userprofile" class="btn btn-dark btn-sm mt-3">Go Back</a>
</div>

