
<style>
    .image{
        width: 150px;
        height: 150px;
    }
</style>
<%- include('../partials/header') %>
<div class="container mt-5">
    <div class="card">
      <div class="card-header">
        <strong>Order Details</strong>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <img
              src="<%= order.product.images[0].thumbnailUrl %>"
              class="image"
              alt="Product Image"
            />
  
            <p><strong>Order ID:</strong><%= orders.orderId %></p>
            <p><strong>Product Name:</strong> <%= order.product.title %></p>
            <p>
              <strong>Shipping Address:</strong><%= orders.street %>,<%= orders.city %>,<%= orders.state %>,<%= orders.pincode %>
            </p>
            <p><strong>Price:</strong> ₹<%= (order.price * order.quantity) %></p>


            
            <p>
              <strong>Ordered Date:</strong> <%= new Date(orders.orderedDate).toUTCString() %>
            </p>
            <% if (order.status === "Shipped") { %>
              <p>
                <strong>Shipped Date:</strong> <%= new Date(order.shippedDate).toUTCString() %>
              </p>
            <% } else if (order.status === "Delivered") { %>
              <p>
                <strong>Delivery Date:</strong> <%= new Date(order.deliveredDate).toUTCString() %>
              </p>
            <% } %>
  
            <p><strong>Product Quantity:</strong> <%= order.quantity %></p>
            <p>
              <strong>Order Status:</strong>
            <% if (order.status==='Pending' ) { %>
            <span class="text-warning"> <%= order.status %> </span>
            <% } else if (order.status==='Shipped' ) { %>
            <span class="text-primary"> <%= order.status %> </span>
            <% } else if (order.status==='Cancelled' || order.status==='Return Requested' ) { %>
            <span class="text-danger"> <%= order.status %> </span>
            <% } else if (order.status==='Delivered' ) { %>
            <span class="text-success"> <%= order.status %> </span>
            <% } else if (order.status==='Returned' ) { %>
            <span class="text-info"> <%= order.status %> </span>
            <% } %>
            </p>

            <% if (order.status === "Delivered") { %>
              <button
                class="btn btn-danger h-auto"
                data-toggle="modal"
                data-target="#returnOrderModal"
              >
                Return Order
              </button>

              <button
              type="button"
              class="btn btn-info h-auto"
              id="invoiceBtn"
              data-invoice-id="<%= order._id %>"
            >
              Download Invoice
            </button>


              <% }else if(order.status === "Return Requested" || order.status ===
          "Returned"){ %>
          <p></p>
          <% } else if(order.status !== "Cancelled" ) { %>
          <button
            class="btn btn-danger h-auto"
            data-toggle="modal"
            data-target="#cancelOrderModal"
          >
            Cancel Order
          </button>
          <% } %>


  
            <div class="modal fade" id="cancelOrderModal" tabindex="-1" role="dialog" aria-labelledby="cancelOrderModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="cancelOrderModalLabel">Confirm Cancellation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Are you sure you want to cancel this order?
                  </div>
                  <div class="modal-footer">
                    <form action="/orders/single/<%= order._id %>?_method=PUT" method="post">
                      <button type="submit" class="btn btn-danger">Confirm</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>


            <div class="modal fade" id="returnOrderModal" tabindex="-1" role="dialog" aria-labelledby="returnOrderModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <!-- <form action="/order/return/<%= order._id %>" method="POST"> -->
                <div class="modal-content">
                  <div class="modal-header ">
                    <h5 class="modal-title" id="returnOrderModalLabel">Return Order</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <!-- <form> -->
                      <div class="form-group">
                        <label for="returnReason">Reason for returning:</label>
                        <select class="form-control" id="reason" name="reason" required>
                          <option value="wrongItem">Received Wrong Item</option>
                          <option value="damaged">Damaged Item</option>
                          <option value="notAsDescribed">Not as Described</option>
                          <option value="changedMind">Changed Mind</option>
                          <option value="qualityConcerns">Quality Concerns</option>
                          <!-- Add more options as needed -->
                        </select>
                      </div>
                    </div>
                      <!-- Add more fields for other information if needed -->
                      <div class="modal-footer">
                        <form action="/orders/return/<%= order._id %>?_method=PUT" method="post">
                          <button type="submit" class="btn btn-danger">Confirm</button>
                        </form>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                      </div>
                    <!-- </form> -->
                 
                </div>
              </div>
            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
  


  <script>
    document.getElementById("invoiceBtn").addEventListener("click", function (orderId) {
        var invoiceButton = this;
        var invoiceId = this.getAttribute("data-invoice-id");
  
        // Disable the button and change its text
        invoiceButton.disabled = true;
        invoiceButton.textContent = "Downloading...";
  
        fetch(`/download/${invoiceId}`)
            .then((response) => {
                if (response.ok) {
                    return response.blob();
                } else {
                    console.error("Failed to download the invoice");
                }
            })
            .then((blob) => {
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement("a");
                a.href = url;
                a.download = "invoice.pdf";
                a.click();
                window.URL.revokeObjectURL(url);
  
                // Re-enable the button and restore its original text
                invoiceButton.disabled = false;
                invoiceButton.textContent = "Download Invoice";
            })
            .catch((error) => {
                // Handle errors here
  
                // Re-enable the button and restore its original text
                invoiceButton.disabled = false;
                invoiceButton.textContent = "Download Invoice";
  
                console.error("An error occurred:", error);
            });
    });
  </script>